/venv/
/.vscode/
/__pycache__/
/training/
/backend/__pycache__/
/backend/model/checkpoints_copy/
/backend/model/backup/
/backend/model/checkpoints/
/backend/model/*.h5
/agent/
*.parquet
*.pyc
__pycache__/
**/__pycache__/